<!DOCTYPE html>
<html lang="en">
  <head>
 
<!-- CODE -->    
<script type="text/javascript">
    /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
    (function(d, m){
      var kommunicateSettings = {"appId":"3caff9b5f8365e504769c1beb82c816ba","conversationTitle":"LyFBoT"};
      var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
      s.src = "https://api.kommunicate.io/v2/kommunicate.app";
      var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
      window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
</script>
  </head>

  <body>
    <section>

    <h1>LyfBoT</h1>
      <h2>Coronavirus Helpline Bot, available on voice and chat..Currently deployed for Google Chrome V8 Engine, Telephone and Google Assistant App</h2>
      
    <div class="col-sm-6 mb-small">
     <img class="img-responsive imgg" src="images/ai-sub.png" align="left" alt="HELPLINE BOT- G.I LABS INDIA" title="Helpline Line">
    </div>
 
      <button><i class="fa fa-microphone"></i></button>

      <div id="convo">
          <p>Human: <em class="output-you">...</em></p> 
          <p> BoT: <em class="output-bot">...</em></p>
      </div>
    </section>
   

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--
    <script>
      $(document).ready(function(){
        $("body").ready(function(){
          $("#chat_img").fadeIn(11000);
          });
      });

    </script>
    <img id="chat_img" src="images/query_logo.png"> 
    <script src="/socket.io/socket.io.js"></script> -->

    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
    <script src="js/script.js"></script>
  </body>
</html>
